{{ define "overview"}} {{range .JobNames}} {{ $spec := index $.JobSpecs .}}
<div class="flex flex-wrap items-center">
  <a class="pr-2" href="/job/{{$spec.Name}}">{{$spec.Name}}</a>
  {{ range $i, $r := $spec.Runs }}
  <a href="/job/{{$spec.Name}}#log{{$i}}"
    ><abbr class="no-underline" title="{{$r.TriggeredAt.Format "2006-01-02T15:04:05"}}&#10;duration: {{$r.Duration | roundToSeconds}}s&#10;exit code: {{$r.Status}}"
      >{{ if eq $r.Status 0 }}
      <img src="/static/img/circle.svg" />
      {{else}}
      <img src="/static/img/circle-o.svg" />
      {{end}}</abbr
    >
  </a>
  {{end}}
</div>
{{end}}
<p class="pt-2"><small>shows statuses up until the last 10 runs</small></p>
{{ end }}
