<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>cheek</title>
  <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/cheek-scheduler/cheek-64.png">
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="stylesheet" href="/static/tailwind.css" />
  <script src="//unpkg.com/alpinejs" defer></script>
  <script type="text/javascript" src="/static/script.js"></script>
</head>

<body class="bg-slate-700">
  <div class="max-w-4xl mx-auto">
    <div class="flex pt-6 items-end">


      <a class="drop-shadow-md text-3xl font-extrabold text-center font-bold from-lime-600 to-blue-600 bg-gradient-to-r bg-clip-text text-transparent"
        href="/">cheek</a>
      <div class="grow"></div>
      <div class="col is-vertical-align is-right">
        <a class="icon-ahref" href="https://github.com/datarootsio/cheek">
          <picture>
            <source srcset="/static/img/github-light.svg" media="(prefers-color-scheme: dark)">
            <img src="/static/img/github-dark.svg">
          </picture>
        </a>

      </div>
    </div>
    <div class="flex flex-wrap gap-x-2 gap-y-2" x-data>
      <template x-for="job in $store.jobs.jobs">
        <a :class="job.name === $store.job.jobName ? 'text-lime-200' : 'text-gray-200 hover:text-lime-200'"
          :href="`/jobs/${job.name}/latest`" x-text="job.name"></a>

      </template>
    </div>

    {{block "content" .}}{{end}}

  </div>
</body>


</html>