{{ define "content"}}
<div x-data class="pt-2">
  <div class="flex gap-2">
    <div class="w-1/6 text-xs flex flex-col gap-2">
      <div class="flex gap-2" x-data="{showNotification: false, notification: ''}">
        <button id="trigger" class="fill-slate-200 hover:fill-lime-200" @click="triggerJob($store.job.jobName); showNotification = true; notification = 'triggered'; setTimeout(async () => { showNotification = false; window.location.href = `/jobs/${$store.job.jobName}/latest`; }, 2000)">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
            >
            <g>
              <path
                d="M2.783.088A.5.5,0,0,0,2,.5v11a.5.5,0,0,0,.268.442A.49.49,0,0,0,2.5,12a.5.5,0,0,0,.283-.088l8-5.5a.5.5,0,0,0,0-.824Z">
              </path>
            </g>
          </svg>
        </button>
      

        <button id="refresh" class="fill-slate-200 hover:fill-lime-200"
         @click="$store.job.init(); showNotification = true; notification = 'refreshing'; setTimeout(() => showNotification = false, 2000)">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
            >
            <title>refresh</title>
            <g>
              <path
                d="M11.854.036a.25.25,0,0,0-.272.053L10.061,1.594A5.937,5.937,0,0,0,6,0a6,6,0,1,0,4.8,9.6A1,1,0,1,0,9.2,8.4,4,4,0,1,1,6,2,3.954,3.954,0,0,1,8.636,3L6.941,4.681a.251.251,0,0,0-.06.259.248.248,0,0,0,.209.166l4.64.514.028,0a.248.248,0,0,0,.25-.25V.267A.251.251,0,0,0,11.854.036Z">
              </path>
            </g>
          </svg>
        </button>
        <div class="grow"></div>
        <span x-show="showNotification" class="text-lime-200 text-xs" x-text="notification"></span>
      </div>
      <div class="bg-slate-900 p-2 relative rounded">
        <div class="whitespace-pre-wrap break-words text-lime-200" x-text="$store.job.spec.yaml"></div>
      </div>

      <div class="bg-slate-200 h-full rounded py-2 text-black">
        <ul class="flex flex-col justify-center">
          <template x-for="run in $store.job.spec.runs">
            <li class="pt-1 flex justify-center">
              <a :href="`/jobs/${$store.job.jobName}/${run.id}`" class="flex items-center">
                
                <!-- Bullet based on run status -->
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 12 12"
                  :class="run.status === 0 ? 'fill-emerald-600' : (run.status === undefined ? 'fill-orange-300' : 'fill-red-600')"
                  x-show="$store.job.spec.runs.length > 0">
                  <g>
                    <path
                      d="M6.03 1.01c-2.78 0-5.03 2.24-5.03 5.02s2.24 5.03 5.03 5.03 5.03-2.24 5.02-5.03-2.24-5.03-5.02-5.02z">
                    </path>
                  </g>
                </svg>
              
                <span 
                  :class="{
                    'underline decoration-dashed': run.id === Number($store.job.runId)
                  }"
                  x-text="truncateDateTime(run.triggered_at)">
                </span>
              </a>
            </li>
          </template>
        </ul>
      </div>
      
      


    </div>

    <div class="w-5/6">
      <div class="bg-slate-200 p-2 h-full rounded">
        <div>
          <p class="font-black" x-text="$store.job.jobName"></p>
          <p class="text-xs text-slate-500" x-text="`Triggered at: ${truncateDateTime($store.job.jobRun.triggered_at)}`"></p>
        </div>
        <div class="text-xs pt-2 whitespace-pre-wrap" x-text="$store.job.jobRun.log">

        </div>
      </div>


    </div>
  </div>
</div>

{{end}}