{{ define "content"}}
<div class="pt-4 pb-2">
  <template x-for="job in $store.jobs.jobs" :key="job" x-data>
    <div class="flex flex-wrap items-center">
      <a class="pr-2 text-slate-200 hover:text-lime-200" :href="`/jobs/${job.name}/latest`" x-text="job.name"></a>
      <template x-if="job.runs !== null">
        <template x-for="run in job.runs">
          <a class="pr-1" :href="`/jobs/${job.name}/${run.id}`"><abbr class="no-underline"
              :title="`${truncateDateTime(run.triggered_at)}`">

              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"
                :class="run.status === 0 ? 'fill-emerald-600' : run.status === undefined ? 'fill-orange-300' : 'fill-red-600'">
                <g>
                  <path
                    d="M6.03 1.01c-2.78 0-5.03 2.24-5.03 5.02s2.24 5.03 5.03 5.03 5.03-2.24 5.02-5.03-2.24-5.03-5.02-5.02z">
                  </path>
                </g>
              </svg>
            </abbr>
          </a>
        </template>
      </template>
    </div>
  </template>
</div>

<div x-data x-init="$store.version.init()">
  <p class="pt-2 text-xs text-slate-400">
    shows statuses up until the last 10 runs (running cheek <span x-text="$store.version.version" class="text-gray-500"></span>)
  </p>
</div>

{{ end }}