{{ define "jobview"}}
<button class="button icon-only outline" onClick="triggerJob({{.SelectedJobSpec.Name}})">
  <picture>
    <source srcset="/static/img/play-light.svg" media="(prefers-color-scheme: dark)">
    <img src="/static/img/play-dark.svg">
  </picture>
</button>
<button class="button icon-only outline" onClick="window.location.reload();">
  <picture>
    <source srcset="/static/img/refresh-ccw-light.svg" media="(prefers-color-scheme: dark)">
    <img src="/static/img/refresh-ccw-dark.svg">
  </picture>
</button>
</div>
</div>


<div class="view-container">
  <h4 class="is-marginless view-header text-primary">JobSpec</h4>
  <pre>
{{ .SelectedJobSpec.ToYAML false }}</pre>

</div>
<div class="view-container">
  <h4 class="is-marginless view-header text-primary">Logs</h4>
  <pre class="pre-wrap">{{range $i, $j := .SelectedJobSpec.Runs}}<span id="log{{$i}}"></span>{{.TriggeredAt}} | triggered by: {{ .TriggeredBy }} | exit code: {{.Status}}
---
{{.Log}}
{{end}}
</pre>
</div>
{{end}}